/*
Comments here...
*/
body {
    /* background-image: url(img.jpg);
    background-position: center top; */
    
    background-color: lightblue;
    opacity: 0.8;
    margin-left: 5%;
    margin-top: 40px;
}

#title {
    background-color: aqua;
}

h2 {
    width: 200px;
    background-color: gray;
    text-decoration-line: underline;
}

.paragraph, .heading3 {
    color: red;
    border-style: dashed none dashed none;
    border-width: medium;
    border-color: black;
    border-radius: 10%;
    padding: 5px 20px;   
    outline-style: solid;
    outline-offset: 2px;
    outline-color: black;
    width: 30%;
}

h2.heading2 {
    color: darkcyan;
    background-color: lightpink;
}

input {
    margin: 5px;
}

/* div {
    margin-top: 50px;
    border-style: dashed;
    width: 50%;
} */

b {
    margin-left: inherit;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    /* font-style: italic;
    font-size: 0.75em; */
}

table {
    border-collapse: collapse;
    border: 2px solid;
    border-style: solid none solid none;
}

th, td {
    width: 100px;
    text-align: center;
}

th {
    border-bottom: 2px solid;
    height: 30px;
}

a {
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* td:hover { */
tr:hover {
    background-color: yellowgreen;
}

/* Combinators "b" elements in "p" blocks are affected, it can be also nested*/
p i {
    color: magenta;
}

p + i {
    color: blue;
}

/* p ~ em {
    color: orange;
} */

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-button {
    background-color: blue;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: lightcyan;
    min-width: 150px;
}

.dropdown-menu a {
    color: black;
    padding: 5px 8px;
    display: block;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: blueviolet;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-button{
    background-color: yellowgreen;
}